<footer>
    <ul>
        <li> <h6 style="text-align: center;" >Contact me: </h6></li>
        <li> <h6 style="text-align: center;">tsewansonam8@gmail.com,    555-555-5555</h6></li>
       
    </ul>

</footer>