<nav>
            
            <ul>
                <li> <a href="/viewpost">Home</a></li>
                {{#if logged}}
                <li> <a id = "logout-button">Log out</a></li>
                {{else}}
                <li> <a href="/login">Log in</a></li>
                {{/if}}
                <li> <a href="/Registration">Registration</a></li>
                <li> <a href="/imageupload">Upload</a></li>
                <span style="padding-right: 400px;"></span>
                <li><input id="search" class="wordIn" type ="text" placeholder="Search"></li>
                 <span style="padding-right: 10px;"></span>
                <li><button id= "search-button" > Go</button></li>
                
                
            </ul>
        </nav>