<nav>
            <img src="/Users/tsewangsonam/Desktop/csc317-code-tsewang-sonam/logoB.jpeg" width="240px" height="70">
            <ul>
                <li> <a href="/">Home</a></li>
                <li> <a href="/Registration">Registration</a></li>
                <li> <a href="/imageupload">Upload</a></li>
                <li> <a href="/viewpost">Viewpost</a></li>
            </ul>
        </nav>