
   <div class ="container2">
<form>
    <h3> <p style = " text-align: center;"> Upload image here</p>  </h3>
    <br></br>
    <p> Title : <input type="text " /> </p>
    <br></br>
    <p> Description :</p> <textarea rows="3" cols=" 50"></textarea>
    <br></br>
    <p> Upload image : <input type ="file"  id= "image" accept="image/" ></p>
    <br></br>
    <p> You agree to use policy of uploading the image <input type ="checkbox"/> </p>
    <br></br>
    <button type= "submit">Upload</button>
</form>

</div>

