*{
    margin: 0;
    padding: 0;
}
.container2{
    margin: 150px auto;
    width: 400px;
    background-color: rgb(233, 247, 238);
    padding: 50px;
    border: .2rem solid #0a250a80;
    border-radius: .5rem;
   
}
.container1{
    margin: 150px auto;
    width: 300px;
    background-color: rgb(233, 247, 238);
    padding: 50px;
    border: .2rem solid #0a250a80;
    border-radius: 2rem;
}
   
body{
    background-image:url(https://images.unsplash.com/photo-1496309732348-3627f3f040ee?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80);
    font-family: poppins;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
    min-height: 80%;
    position: relative;
    min-height: 100vh;;
}
nav ul li a:hover{
    color :#658f6b;
    background: rgb(244, 244, 247);

}
nav ul li a{
    text-decoration: none;
    color:#f5f8f5;
    padding: 2.5rem;
    font-weight: lighter;
    transition: all .7s ease;
    

}
nav ul{
    list-style: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.header{
    background: #345734;
    overflow: hidden;
}
nav{
    display: grid;
    grid-template-columns:10fr ;
    align-items:center;
    width: 1200px;
    height: 90px;
    margin:auto;
   
}
#search{
    width: 150px;
    display: inline-block;
    justify-self: end;
}




    button {

        background-color: rgb(175, 225, 228);
        border-radius: 8px;
        padding: 6px 18px;
        font-size: 16px;
        
    }
       
 button:hover{
     background-color: rgb(130, 203, 207);
 }
 
 h3 {
    font-size: 25px;
    color:rgb(28, 78, 45);
    text-shadow: 0.5px 0.5px black;
    animation: 3s shake infinite alternate;
 }
 @keyframes shake{
     0% {transform: skew(-20deg);}
     5% {transform: skew(20deg);}
     10% {transform: skew(-20deg);}
     15% {transform: skew(20deg);}
     20% {transform: skew(-20deg);}
     30% {transform: skew(20deg);}
     90% {transform: skew(0deg);}
     100% {transform: skew(0deg);}
 }

 h2 {
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(228, 233, 238); 
 }

 h4{

    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(186, 194, 202);
   
 }
 h6{
     font-family:cursive;
    color:rgb(246, 248, 250);
   
 }


 input {
     
     padding: 10px 15px;
     box-sizing: border-box;
     border-radius: 10px;
     border-color:  rgb(142, 231, 120) ;
     
 }

 input:focus{
     outline: none;
    background-color: rgb(225, 246, 252) !important;
 }
 textarea{
    outline: none;
    background-color: rgb(225, 246, 252) !important;

 }
 html{
     background-color: rgb(204, 240, 181,0.2);
     background-size: cover;
     height: 90%;
    
 }

 footer{

    background-color: #0005;
    position: absolute;
    bottom: 0;
    width: 100%;
 
 }

 #flash-message{
     position:fixed;
     left: 45%;
     top:20%;
     transform: translate(-50%,0);
 }

#flash-message div{
    text-align: center;
    color: #f5f8f5;
    
}
label{
    width: 150px;
    display: inline-block ;
}


#contain-inside{
    

    grid-area: content;
    padding-top: 5rem;
    padding-bottom:  10rem;
    padding-left: 12.5rem;
    padding-right: 12.5rem;
    display: grid;
    gap: 2rem 2rem;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;

}
#container {
    width: 90%;
    height: 95vh;
    margin: auto;
    display: grid;
    grid-template-rows: 1.fr .5fr .5fr .3fr;
    grid-template-columns: repeat(4,1fr);

}

.card {
    display: grid;
    grid-template-rows: 180px 140px;
    grid-template-columns: auto;
    border: 1rem rgb(14, 72, 15);
    border-radius: .5rem;
    box-shadow: 1 2px 2px rgb(38, 55, 149);
}
.card-img{

    grid-area: 1 / 1 / 2 / 2 ;

}
div[class=card] > img {
    height:100%;
    width:100%;
    
}
.card-title{
    color: rgb(247, 251, 247);
    font-family: "Great Vibes", cursive;
    font-size:20px;
    margin-bottom: .5rem;
    margin-top: .1rem;
}


.card-body{
    text-align: center;
    grid-area: 2 / 1 / 3 / 2 ;
    padding: .5rem;
    background-color: rgb(71, 73, 71);
    border-radius: 0 0 .2rem .2rem;
    
}

div[class = card-body]> a[class=card-button]{
    text-decoration: silver;
}

.card-text{
    color: skyblue;
    font-family: 'Lucida';
    font-size: 16px;
}

@media screen and (max-width: 1200px) {
    #contain-inside{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows:  1fr 1fr;
    }   
}
@media screen and (max-width: 800px) {
    #contain-inside{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows:  1fr 1fr;
    }   
}
@media screen and (max-width: 500px) {
    #contain-inside{
        grid-template-columns: 1fr 1fr;
        grid-template-rows:  1fr 1fr;
    }   
}

#info-message{
   display: grid; 
   padding-top: 5px;
   text-align: center;
   background: rgb(242, 244, 240);
}

.learn{
    background-color: #dddddd;
    color: #666666;
    border-radius: 10px;
    border: 2px solid transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 16px;
    outline: none;
    transition: all 0.2s;
    align-items:center;

}

#message{
     grid-area: detail;
     padding: 10px;
    height: 300px;
    background: #f5f8f5;
    
}
#comment-box1 {
    grid-area: detail;
     padding: 10px;
    height: 300px;
    background: #f5f8f5;
}

#adjust{
    width: auto;
    display: inline-block;
}

#image-post-title-text{
    background: #173722;
    text-align: center;
}
#comment-title{
    background: #173722;
    text-align: center;
}
#comment-title2{
    background: #173722;
    text-align: center;
}
#comment-box{
    background-color: rgb(211, 186, 154);
    color: lightgrey;
    padding: 1em;
    font-size: 16px;
    border: 2px solid transparent;
    height: 150px;
    width: 300px;

}
div[id^=message-]{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: .3em;
    padding: .25rem;
    margin: .2rem;
    border: blanchedalmond;
    font-size: 1rem;
    grid-template-areas: 
    "author created"
    "comment comment";
    
}
.author{
    grid-area: author;
    justify-self: start;
    color:rgb(87, 28, 225);
}
.date-posted{
    grid-area: created;
    color: darkcyan;
    justify-self: end;
}
.comment-text{
    grid-area: comment;
    
    color:darkgrey;
}



a.anchor-button{
    
    display:inline-block;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: rgb(231, 223, 223);
    text-align: center;
    transition: all 0.2s;
    text-decoration: none;
    
    
}

.bounce{
    animation: bounce 5s infinite linear;
    position: relative;
}
@keyframes bounce {
   0%{top:0em}
   40%{top:0em}
   43%{top:-0.9em}
   46%{top:0em}
   48%{top:-0.4em}
   50%{top:0em}
   100%{top:0em;}
}