
#grid-container{
    display: grid;
    grid-template-rows: repeat(5,2fr);
    grid-template-columns: repeat(5,2fr);
    grid-auto-rows: 2fr;
    grid-auto-columns: 2fr;
    gap: .7em;
   
    
   
}

